/* Globals */

body{
    padding-top: 80px;
}


h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  
  h2 {
    font-size: 28px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  
  h3 {
    font-size: 24px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  
  h4 {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  
  h5 {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  
  h6 {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    margin-bottom: 16px;
  }
  
  /* Body Text Styles */
  p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 16px;
  }
  li{
    list-style: none;
  }
  
  /* Link Styles */
  a {
    color: #007aff;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
  }
  
  a:hover {
    color: #005cbf;
  }
  
  a:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
  }
  
  /* Emphasis Styles */
  strong {
    font-weight: 700;
  }
  
  em {
    font-style: italic;
  }

.inactive{
    display: none;
}

/* Button Component */
.btn--primary {
  cursor: pointer;
  display: inline-block;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  border: 0 ;
  background-color: #007aff;
  border-radius: 8px;
  transition: background-color 0.2s ease-in-out;
}

.btn--primary:hover {
  background-color: #0062cc;
}

.btn--primary:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
}

.btn--primary:active {
  background-color: #005cbf;
}

/* page */

.page{

    padding: 0 20px;
}


/* Navbar */
nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    background: white;
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
    padding-right: 30px;
    z-index: 1;
}

.menu ul {
    display: flex;
    gap: 20px;
}

.menu li {
    list-style: none;
}


.cart{
    position: relative;
    
}

.cart ul{
    top: 0;
    width: 260px;
    right: 20px;
    position: absolute;
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    list-style: none;
}


.cart__products{
    position: absolute;
    right: 0;
    min-width: 220px;
}

.cart__products div {

  display: flex;
  flex-direction: column;
  align-items: center;

}
.cart__products img{
  width: 100%;
  height: 80px;
}




/* Home Page */


.products-container{

  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
  
  place-content: center;
}
.product-card{


  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px #0000001a;
}

.product-card img {
  width: 150px;
  align-self: center;
}
.product-card p{
  max-height: 50px;
  overflow: hidden;
  position: relative;
}
 .product-card p::after {
  content: "...";
  position: absolute;
  bottom: 0;
  right: 0;
  padding-left: 2em;
  background: linear-gradient(to right, transparent, white 50%);
}




@media (min-width: 640px) {
    .page{
      padding: 0 40px;
    }


    
  }
  
  @media (min-width: 768px) {
    .page{
      padding: 0 60px;
    
    }

    .products-container{

      gap: 20px;
    }
  }
  
  @media (min-width: 1024px) {
    .page{
      padding: 0 100px;
    
    }
    .products-container{

      gap: 20px;
    }
  }
  